/* 		Modelo de CV responsive basado en css grid
      Más información en readme.txt
*/

/* Elementos de diseño genéricos*/
:root {
    --primaryColor: #F8662B; 
    --secondaryColor: black; 
    --mainTextColor: grey; 
}

body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Verdana', sans-serif;
    background: white; 
    font-size: 1em;
    color: var(--mainTextColor);
    margin: 0px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Condensed', sans-serif; /*  font-family: 'Varela Round', sans-serif; */
    color: #606060;     
}

h1,
h2 {
    text-transform: uppercase;
}

table>td{
  border-width: 0;
  border-color: transparent;
  width: 50%;
}

a:link {
    text-decoration: none;
}

/* La clase .box esta incluida en los bloques o elementos principales de 
   index.html, para dar homegeneidad al documento */

.box {
  background-color: #EEEEEE;
  color: #626262;
  padding: 0.9rem;
  font-size: 1rem;
}

/*  Se definen los atributos compartidos por varias clases, así como 
  animaciones compartidas. */

.header1, .content2, .aside5 {
  background-color: #CCCCCC;
}

.aside1, .aside2, .aside3 {
  background-color: var(--primaryColor);
}
div #goToMenu{
  width: 100%;
  text-align: right;
  
}

div #goToMenu #menu{
  font-size:0.75rem;
  font-weight: 400;
  color:#000;
}

/*    fx effects */

/* Comprende dos animaciones simultáneas:  "doubleULine" y "slidein"
    
    1)Una para cada 'underline', a través de la animación "doubleULine",
      para salir desde la derecha y moverse hasta su posición en el documento.
    2)Para el texto correspondiente, a través de la animación "slidein", cuyo 
      efecto es similar al anterior, de forma que se mueven acompasadamente los
      tres elementos 

*/

.underline1 {
  display: block;
  height: 0.125rem;
  background-color:var(--primaryColor);   
  margin-top: 0p;
  margin-bottom: 0.125rem;
  width: 15%;
}


.underline2 {
    display: block; 
    text-decoration: overline;
    height: 0.25rem;
    background-color:var(--primaryColor);   
    margin-top: 0.12rem;
    margin-bottom: 0.5rem;
    width: 16%;
}

  

.doubleULine>.underline1{
    animation-duration: 1.81s;
    animation-name: doubleULine;

}

.doubleULine>.underline2 { 
    animation-duration: 1.81s;
    
    animation-name: doubleULine;
}
   
  @keyframes doubleULine {
    
    from {
    margin-left: 50%;
    width: 50%; 
    }

    to {
    margin-left: 10%;
    width: 16%;
    }

}

/*Slidein */
.animated {  
    animation-duration: 1.81s;
    animation-delay:0s;
    animation-name: slidein;
  }
    
  @keyframes slidein {
    
    from {
    margin-left: 70%;
    width: 70%; 
    }

    to {
    margin-left: 10%;
    width: 100%;
    }
  }

/* Estructura de index.html: <index>

  1* Sidebar    -> header0
  2* Photo      -> header1
  3* Profile    -> content1
  4* Who        -> aside1
  5* Personal   -> aside2
  6* Banner     -> aside3
  7* Social     -> aside4
  8* Studies    -> content2
  9* Experience -> content3
  10* Skills    -> content4
  11* Leisure   -> aside5
  12* Copy&Name -> footer

*/

/* 1*Sidebar    -> header0 */
.header0{
align-content:right;   
background-color: #404040;
color:white;
border-top-right-radius:1.5rem ;
border-top-left-radius: 1.5rem; 
height: 7vh;
}

/* 2*Photo      -> header1  */

.photo img {
    height: 100%;
    width: 100%;
    object-fit: center;
}

/* 3*Profile    -> content1  */

.content1{
  text-align: justify;
}


/* 4*Who        -> aside1  */

.aside1 h2, .aside1 h3 {
  color: white;
  text-align: center;
}

    /*  fx effects */

    /*  Cuando te pones encima del contenedor div correspondiente,
        sobre el nombre u ocupación, el texto da una vuelta entera (360deg).
              */

#rotate:hover {
    animation: fullRotaten 1.81s ;
  }
    
  @keyframes fullRotaten {      
    
    
    from {
      transform: perspective(320px) rotateY(0deg);
      
    }

    to {
      transform: perspective(320px) rotateY(360deg);
      
    }
}


/*  5*Personal   -> aside2 */
.aside2 {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
  color:black;

}
.aside2 li{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

/*  6*Banner     -> aside3  */

.aside3 {
  background-color:#eeeeee; 
  
  text-align: center;
  z-index: 1;
}

.aside3 #spaTxt1 {
  padding-top: .31rem;
  font-size: 1.12rem;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 10;
}

.aside3 #spaTxt2{
  
  padding-top: 0.31rem;
  font-size: 1.12rem;
  color: #8b8b8b;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 10;
}

.aside3 #spaBanner1{
  margin-top: 0.12rem;
  background-color: black;
  color: var(--primaryColor);
  opacity: 0.8;
  padding:0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Courier New', monospace;
  z-index: 10;
}
.aside3 #spaBanner2 {
  margin-top: 0.12rem;
  background-color: #8b8b8b;
  color: #fff;
  opacity: 0.8;
  padding:0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Courier New', monospace;
  z-index: 10;
}

/*  7*Social     -> aside4*/

.social-img {
    
    padding-left: 20%;
    padding-bottom:0.75rem;
    padding-top: 0.75rem; 
} 

.social-img li span{
    padding-left: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Courier New', monospace;
    color:black;
}

.social-img li img{  
    vertical-align: middle;
    width: 3.2rem;
    border-radius: 50%;
    margin-left: 20%;

}  

.social-img li img:hover{
    width: 2.21rem;
    border-radius:50%;
    border-style: solid;
    border-color:#F8662B;
    border-width: 0.5rem;
}

.social-img li span:hover{
    font-size: 1.5rem;
    font-weight: 700;
    /*color:#F8662B;*/
    color:#F8662B;
    text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px yellow;
}  


/*  8*Studies    -> content2  */
.education {
    border-bottom: 2px solid #bebfc1;
        
}
.edu1{
  margin-top: 2rem;
}
.edu1, .edu2{
  margin-bottom: 1em;

}
    /*  fx effects */
    
p.zoom {
    font-size: 16px;
    /* Firefox */
    -moz-transition: font-size 300ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: font-size 300ms linear 0s;
    /* Opera */
    -o-transition: font-size 300ms linear 0s;
    /* Default */
    transition: font-size 300ms linear 0s;
}
 
p.zoom:hover {
    font-size: 20px;
}

/* 9*Experience-> content3 */

.description{
  font-style: italic;
}

hr{
  width: 100%;
  background-color:#cccccc;
  height: 1px;
  border-bottom-color:#000;
  border-bottom-width: 1px;
  border-style: dotted; 
}
     /*  fx effects */
     /* Inclinación del texto 15º */

#rotate15 {
  /* basic   */
  text-align: right;
  align-content: right;
  align-items: right;

  /* transform and other specs */
  -ms-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg);
  transform:rotate(-15deg);
  background-color: red;
  width:150px;
  
}


/* 10*Skills    -> content4 */

.content4{
  grid-column: 3 / 3;

}

.skills-content {
    display: grid;
    grid-template-columns: auto 200px auto;  /*  130px 180px auto;    */
    grid-gap: 5px;
}

span.number {

    text-align: left;
    font-size: 14px;
}

span.skill-name {
    text-align: right;
    font-size: 14px;
}

progress {
    display: block;
    background: #dcdddf;
    color: var(--primaryColor);
    border-radius: 3px;
    border: none;
    height: 14px;
}

progress::-moz-progress-bar {
    border-radius: 1px;
    background: var(--primaryColor);
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 1px;
    background: var(--primaryColor);
}

/* 11*Leisure   -> aside5*/
#hobbies {
    font-size:0.90rem;
    padding-left: 3vw;

}

#hobbies li{
    padding-bottom: 0.5rem;
}
#hobbies *{
    vertical-align: middle;    
}

#hobbies ul li img{
     height: 2.4rem;

}

#hobbiesImg{
    border-radius:50%;
    border-style: solid;
    border-color:#F8662B;
    border-width: 0.5rem;
    padding: 0;
}
.freeT{
  color: black;
  text-shadow: 2px 2px 3px grey, 0 0 16px silver, 0 0 6px white;
}

.freeT:hover{
  
  font-size:0.96rem;
  color:#F8662B;
  text-shadow: 2px 2px 3px white, 0 0 16px #F8662B, 0 0 6px yellow;
}

#sports:hover:after{
  
  content:": Correr, ciclismo, tenis,...";
  font-size:0.96rem;
  color: green;
  text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
}

#culture:hover:after{
  
  content:": Música, literatura, cine,...";
  font-size:0.96rem;
  color: green;
  text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
}  

#maker:hover:after{
  
  content:": Desarrollo Apps, drones,...";
  font-size:0.96rem;
  color: green;
  text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
}

#learn:hover:after{
  
  content:": Código, estrategia, ... ";
  font-size:0.96rem;
  color: green;
  text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
}

#others:hover:after{
  
  content:": Familia y amigos, viajar,...";
  font-size:0.96rem;
  color: green;
  text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
}

/*  fx effects */
/* Inclinación de la mano-imagen 20º */

#easy20 span{
  color:transparent;
}


#easy20 {
  /* basic   */
  text-align: right;
  align-content: right;
  align-items: right;
  
  /* transform and other specs */
  -ms-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  transform:rotate(-20deg);
  background-color: transparent;
  width:160px; 
}


#easy20:hover{

  animation: easyMove 0.66s;
}

  @keyframes easyMove {

    from {
      -ms-transform:rotate(-20deg);
      -o-transform:rotate(-20deg);
      -moz-transform:rotate(-20deg);
      -webkit-transform:rotate(-20deg);
      transform:rotate(-20deg);
      color:transparent;
    }

    to {
      -ms-transform:translate(15px,15px) scale(1.31);
      -o-transform:translate(15px,15px) scale(1.31); 
      -moz-transform:translate(15px,15px) scale(1.31);
      -webkit-transform:translate(15px,15px) scale(1.31);
      transform: translate(15px,15px) scale(1.31);
      color:transparent;
    }

  }


/* 12*Name      -> footer */

footer.footer{

text-align: center;  
background-color: #404040;
color:white;
border-bottom-right-radius:1.5rem ;
border-bottom-left-radius: 1.5rem; 
height: 7vh;
}


/* *******  Menú móvil *******  
  He elaborado un documento explicando el funcionamiento del menú.
  Si necesitas alguna aclaración no dudes en preguntar.

  *******  Mobile menu *******  

  For further info about how it works -> Just ask ;)

*/ 

#sidebarMenu {
  height: 150px;
  position: fixed; 
  left: 0;
  width: 150px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: transparent; 
  z-index: 20;  

} 


.sidebarMenuInner {
  margin-top:1rem;
  padding: 0;
  border-top:transparent;
}
.sidebarMenuInner li {
    display: inline-block; 
    align-content: left;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    padding: 15px;
}


.sidebarMenuInner span{
  display: inline;
  padding-top:0.25rem;
  padding-bottom: 0.25rem;
  padding-left:0.5rem;
  padding-right: 0.5rem; 
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: #F8662B; 
  text-align: left;
  /* border-radius: 5px; */
  background-color: #404040; 
}

.sidebarMenuInner span:hover{

  color: #fff; 
  
}


.sidebarMenuInner span:hover:before{
  content:'[';
  color: #fff; 
}
.sidebarMenuInner span:hover:after{
  content:']';
  color: #fff; 
}



input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); } 

input[type=checkbox] {
  transition: all 0.333s;
  box-sizing: border-box;
  display: none;
 
}


.sidebarIconToggle {
  transition: all 0.333s;
  box-sizing: border-box;
  cursor:pointer;
  position: absolute; /* absolute  */
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 25px;
  left: 25px;
  height: 25px;
  width: 25px;
  z-index: 20;
}

.spinner {
  transition: all 0.333s;
  box-sizing: border-box;
  position: absolute; /* absolute */
  height: 4px;
  width: 100%;
  background-color:#F8662B ;
}

.horizontal {
  transition: all 0.333s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
}
.horizontal:hover {
    transition: all;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
    width: 70%;
    background-color:#fff ;
}

.diagonal.part-1 {
  transition: all 0.333s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
}



.diagonal.part-2 {
  transition: all 0.333s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 4px;
}



input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.333s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.333s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.333s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}




/* Estructura del grid -   Se definen las areas del grid layout. Después es mucho más fácil establecer 
para las diferentes medias queries una estructura y orden, de una forma muy visual, similar a una matriz.

  Posteriormente, se matizan en cada caso las propiedades y atributos para ajustar los bloques y
elementos debidamente, para ofrecer en función de cada formato un output, redefiniendo la UX
y usabilidad en cada caso. 
*/


/* grid-area: */

.header0 {
        grid-area: header0;
}

.header1 {
        grid-area: header1;
}

/* grid-area: content */

.content1 {
        grid-area: content1;
}

.content2 {
        grid-area: content2;
}

.content3 {
        grid-area: content3;  
}

.content4 {
        grid-area: content4;
}

/* grid-area: aside */

.aside1 {
        grid-area: aside1;
}

.aside2 {
        grid-area: aside2;
}

.aside3 {
        grid-area: aside3;
}

.aside4 {
        grid-area: aside4;
}

.aside5 {
        grid-area: aside5;
}

/* grid-area: footer */

.footer {
        grid-area: footer;
}


/* Media queries:  
  
  3 medidas y la estructura de contenedores correspondiente.
  
  1 - Por defecto: @media only screen and (max-width: 767px): 
      
      Corresponde a la mayoria teléfonos móviles.

  2 - @media only screen and (min-width: 768px)  => hasta (max-width: 1024x)    
      
      Comprende los móviles con más resolución de pantalla y la mayoría 
      de las tablets/Ipads.

  3 - @media only screen and (min-width: 1025px)

      Abarca desde pantallas de equipos sobremesa, portátiles, y tablets/Ipads 
      de última generación. 
     
*/


/* Media queries: Opción por defecto.

  1 - @media only screen and (max-width: 767px): El contenido se ordena en una columna.


*/


.wrapper {
        background-color: white;
        color: grey;
    }

.wrapper  {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    
    "header0"

    "header1"

    "content1"

    "aside1"

    "aside3"

    "aside2"

    "aside4"

    "content2"

    "content3"

    "content4"
    
    "aside5"
    
    "footer";
    padding: 1%;
  }




@media only screen and (min-width: 768px)   {  
    
              .wrapper  {
                    grid-template-columns: 368px auto;
                    grid-template-areas:

                    "header0 header0"
                    "header1 content1"
                    "aside1 aside3"
                    "aside4 aside2"
                    "content2 content3"
                    "aside5 content4"
                    "footer footer";
                    padding: 1%;
              }

            
                     

            /* 2*Photo      -> header1  */
              .logo img {
                height: 100%;
                width: 100%;
                object-fit: center;
              }
            /*  5*Personal   -> aside2 */
              .aside2 {
              text-align: center;
              font-size: 1.25rem;
              padding-bottom: 0.25rem;
              color:black;
              }
            /*  6*Banner     -> aside3  */

            .aside3 {
              border-top: 2px solid #F8662B;  
              background-color: #eeeeee; 
              text-align: center;
              z-index: 1;
            }
            
            .aside3 #spaTxt1, #spaTxt2 {
              padding-top: 0.31rem;
              padding-bottom:0.31rem; 
              font-size: 1.25rem;
              color: #000;
              font-weight: 500;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaTxt2{
              padding:0.5rem;
              font-size: 1.25rem;
              color:#666666;/* var(--primaryColor); #8b8b8b; */
              font-weight: 500;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaBanner1{
              background-color: black;
              color: var(--primaryColor);
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.85rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }

            .aside3 #spaBanner2 {
              background-color: #666666;
              color: #fff;
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.85rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }
            /*  7*Social     -> aside4*/
            #social{
              background-color:#cccccc;
              border-bottom: 2px solid #F8662B;
            }
            .social-img {
                
                padding-left: 10%;
                padding-bottom:0.25rem;
                padding-top: 0.25rem; 
            } 

            .social-img> span .txt{
                padding-left: 20px;
                font-size: 1.25rem;
                font-weight: 500;
                font-family: 'Courier New', monospace;
                color:black;
            }
            .social-img li img{  
                vertical-align: middle;
                width: 3.2rem;
                border-radius: 50%;
                margin-left: 20%;

            }  
            .social-img li img:hover{
                width: 2.21rem;
                border-radius:50%;
                border-style: solid;
                border-color:#F8662B;
                border-width: 0.5rem;
            }

            .social-img> span .txt:hover{
                font-size: 1.5rem;
                font-weight: 700;
                /*color:#F8662B;*/
                color:#F8662B;
                text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px yellow;
            }  

          /*  8*Studies    -> content2  */

            
          /* 10*Skills    -> content4 */

            .skills-content {
                padding-top:12vh;
            }

            /* 11*Leisure   -> aside5*/
            #leisure{
                background-color:#cccccc;
            }

            #hobbies {
                font-size:0.90rem;
                padding-left: 3vw;
            }

            #hobbies li{
                padding-bottom: 0.5rem;
            }
            #hobbies *{
                vertical-align: middle;
                padding-left: 4px;    
            }

            #hobbies ul li img{
                 height: 2.4rem;

            }

            .freeT{
              color: black;
              text-shadow: 2px 2px 3px grey, 0 0 16px silver, 0 0 6px white;
            }

            .freeT:hover{
              
              font-size:0.92rem;
              color:#F8662B;
              text-shadow: 2px 2px 3px white, 0 0 16px #F8662B, 0 0 6px yellow;
            }

            #sports:hover:after{
              
              content:": Correr, ciclismo, tenis,...";
              font-size:0.92rem;
              color: green;
              text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
            }

            #culture:hover:after{
              
              content:": Música, literatura, cine,...";
              font-size:0.92rem;
              color: green;
              text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
            }  

            #maker:hover:after{
              
              content:": Desarrollo Apps, drones,...";
              font-size:0.92rem;
              color: green;
              text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
            }

            #learn:hover:after{
              
              content:": Código, estrategia, ... ";
              font-size:0.92rem;
              color: green;
              text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
            }

            #others:hover:after{
              
              content:": Familia y amigos, viajar,...";
              font-size:0.92rem;
              color: green;
              text-shadow: 2px 2px 3px white, 0 0 16px green, 0 0 6px yellow;
            }

            
            /*    Menu

                 
             
            */
              
                
                #sidebar>#sidebarMenu span, span nav, span nav ul{
                    background-color: #404040;  
    
                }

                  #sidebarMenu {
                  
                    height: 35px;
                    position: fixed; 
                    left: 0;
                    width: 73vw;
                    margin-top: -10px;
                    margin-left: 15vw;
                    transform: translateX(-1000px);
                    transition: transform 250ms ease-in-out;
                    z-index: 20;
                  } 
                  #sidebarMenu ul{
                    text-align:center;
                  }

                  .sidebarMenuInner {
                    width: 75vw;
                    border-top:2px solid #F8662B;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius:1rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom:3px solid #ED320A;
                    background-color: #404040;
                    
                  }
        
                  .sidebarMenuInner li {
                  display: inline-block; 
                  list-style: none;
                  text-decoration: none;
                  
                  /*background-color: #404040; color: #F8662B; width: 610px; */  
                  cursor: pointer;
                  padding: 0.5rem;/* 15px */
                  ;
                /* border-radius: 0.5px; 15px  background-color:#404040; */
                }
              
                  
                  .sidebarMenuInner span{
                    display: inline;
                    padding-top:0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left:1rem;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: #F8662B; 
                    font-weight: 600;
                    background-color: #404040;
                    align-items: center;
                  }
                  
                 
                  input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); } 

                  input[type=checkbox] {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    display: none;
                   
                  }

                  /*  sidebarIconToggle es el icon móvil y es un elemento label que depende del input checkbox.
                      
                      */


                  .sidebarIconToggle {
                    transition: all 0.333s;  /*. display: inline-block; */
                    box-sizing: border-box;
                    cursor:pointer;
                    position: absolute; /* absolute   */
                    z-index: 99;
                    height: 100%;
                    width: 100%;
                    top: 35px;
                    left: 40px;
                    height: 25px;
                    width: 25px;
                    /*top: 40px;
                    left: 40px;
                    height: 25px;
                    width: 25px;*/
                    z-index: 20;
                  }

                  /* spinner es la clase genérica y común a los tres elementos div dependientes del input checkbox      */

                  .spinner {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: absolute; /* absolute */
                    height: 4px;
                    width: 100%;
                    background-color:#F8662B ;
                  }


                  .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }
                  .horizontal:hover {
                      transition: all;
                      box-sizing: border-box;
                      position: relative;
                      float: left;
                      margin-top: 4px;
                      width: 60%;
                      background-color:#fff;
                  }

                  .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                  }

                  .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }



                  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    opacity: 0;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(135deg);
                    margin-top: 8px;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(-135deg);
                    margin-top: -9px;
                  }


}
  


@media only screen and (min-width: 1025px)   {

      .wrapper {
     
          grid-template-columns: 350px 350px auto;
    
              grid-template-areas:
              "header0 header0 header0"
              "header1 content1 content1"
              "aside1 aside3 aside2"
              "content2 content3 content3"
              "content2 content3 content3"
              "content2 content4 content4"
              "aside4 aside5 aside5"
              "footer footer footer";
              padding: 2%;
          }
  
          #photo img {
            height: 100%;
            width: 100%;
            object-fit: center;
          }

        


        /* 3*Profile    -> content1  */

          .content1 article{
              text-align: justify;
              font-size: 1rem;
              line-height: 1.3; /* interlineado */
              padding: 0.9rem;
          }

          /*  5*Personal   -> aside2 */
            .aside2 {
              text-align: center;
              font-size: 1rem;
              padding-top: 0.12rem;
              padding-bottom: 0.12rem;
              color:black;

            }


            /*  6*Banner     -> aside3  */

            .aside3 {
              background-color: var(--primaryColor);
              opacity: 0.8;
              text-align: center;
              z-index: 1; /*.   */
            }

            .aside3 #spaTxt1 {
              padding-top: .31rem;
              font-size: 1.125rem;
              color: #000;
              font-weight: 500;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaTxt2{
              padding-top: 0.31rem;
              font-size: 1.125rem;
              color: #fff;
              font-weight: 500;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaBanner1{
             
              background-color: black;
              color: var(--primaryColor);
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.875rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }
            .aside3 #spaBanner2 {
             
              background-color: #666666;
              color: #fff;
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.875rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }

            
            /*  7*Social     -> aside4*/

            #social{
              background-color:#cccccc;
              border-top: 3px solid #666666;
              border-style: double;
              border-bottom: 0px;
              border-right:0px; 
              border-left:0px;
            }
            
            .social-img {
                
                padding-left: 10%;
                padding-bottom:1rem;
                padding-top: 1rem; 
            } 


            /*  8*Studies    -> content2  */

            

            /* 10*Skills    -> content4 */               
            

            section .content4{
              font-size:0.80rem;
              align-content: center;
              border-color: black;
              border-top: 1px solid;
            }

            #skills {
                grid-column: 3 / 6;
            }

            .skills-content {
                display: grid;
                grid-template-columns: auto 160px 50px auto 160px 50px;
                grid-gap:5px;
                padding-top:0.25rem;
            }

            .skills-content >.skill-name{
                
                text-align: right;
            }

            .skills-content > .number{
                text-align: left;
            }

            progress {
                display: block;
                background: #dcdddf;
                color: var(--primaryColor);
                border-radius: 2px;
                border: none;
                height: 1em;
            }

            progress::-moz-progress-bar {
                border-radius: 2px;
                background: var(--primaryColor);
            }

            progress::-webkit-progress-bar {
                background: transparent;
            }

            progress::-webkit-progress-value {
                border-radius: 2px;
                background: var(--primaryColor);
            }


            /* 11*Leisure   -> aside5*/
            #leisure{
                background-color:#eeeeee;

            }

            #hobbies {
                font-size:0.80rem;
                padding-left:1.5vw;   
            }

            .container {
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                
                -webkit-flex-direction: row;
                -moz-flex-direction:row; 
                flex-direction: row; 
                            
            }
            .container span li{
                list-style-type:none;
                padding-right: 2vw;
                
            }

            

            #hobbies li{
                padding-bottom: 0.35rem;
            }

            #hobbies ul li img{
                height: 1.8rem;

            }

            #hobbiesImg{
                border-radius:50%;
                border-style: solid;
                border-color:#F8662B;
                border-width: 0.35rem;
                padding: 0;
            }

            /*    Menu

                 
             
            */
              
                
                #sidebar>#sidebarMenu span, span nav, span nav ul{
                    background-color: #404040;  
    
                }

                  #sidebarMenu {
                    height: 35px;
                    position: fixed; 
                    left: 0;
                    width: 73vw;
                    margin-top: -10px;
                    margin-left: 15vw;
                    transform: translateX(-1500px);
                    transition: transform 250ms ease-in-out;
                    z-index: 20;
                  } 
                  #sidebarMenu ul{
                    text-align:center;
                  }

                  .sidebarMenuInner {
                    width: 75vw;
                    border-top:2px solid #F8662B;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius:1rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom:3px solid #ED320A;
                    background-color: #404040;
                    
                  }
        
                  .sidebarMenuInner li {
                  display: inline-block; 
                  list-style: none;
                  text-decoration: none;
                  
                  /*background-color: #404040; color: #F8662B; width: 610px; */  
                  cursor: pointer;
                  padding: 0.5rem;/* 15px */
                  ;
                /* border-radius: 0.5px; 15px  background-color:#404040; */
                }
              
                  
                  .sidebarMenuInner span{
                    display: inline;
                    padding-top:0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left:1rem;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: #F8662B; 
                    font-weight: 600;
                    background-color: #404040;
                    align-items: center;
                  }
                  
                 
                  input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); } 

                  input[type=checkbox] {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    display: none;
                   
                  }

                  


                  .sidebarIconToggle {
                    transition: all 0.333s;  /*. display: inline-block; */
                    box-sizing: border-box;
                    cursor:pointer;
                    position: absolute; /* absolute   */
                    z-index: 99;
                    height: 100%;
                    width: 100%;
                    top: 45px;
                    left: 50px;
                    height: 25px;
                    width: 25px;
                    /*top: 40px;
                    left: 40px;
                    height: 25px;
                    width: 25px;*/
                    z-index: 20;
                  }

                  /* spinner es la clase genérica y común a los tres elementos div dependientes del input checkbox      */

                  .spinner {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: absolute; /* absolute */
                    height: 4px;
                    width: 100%;
                    background-color:#F8662B ;
                  }


                  .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }
                  .horizontal:hover {
                      transition: all;
                      box-sizing: border-box;
                      position: relative;
                      float: left;
                      margin-top: 4px;
                      width: 60%;
                      background-color:#fff;
                  }

                  .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                  }

                  .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }



                  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    opacity: 0;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(135deg);
                    margin-top: 8px;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(-135deg);
                    margin-top: -9px;
                  }

          


}

        
@media only screen and (min-width: 1225px)   {

      .wrapper {
         
          grid-template-columns: 400px auto auto;
        
          grid-template-areas:
          "header0 header0 header0"
          "header1 content1 content1"
          "aside1 aside3 aside2"
          "content2 content3 content3"
          "content2 content3 content3"
          "content2 content4 content4"
          "aside4 aside5 aside5"
          "footer footer footer";
          padding: 2%;
      }

     
      /* 3*Profile    -> content1  */

        .content1 article{
            text-align: justify;
            font-size: 1.12rem;
            line-height: 1.5; /* interlineado */
            padding: 1rem;
        } 
          

      /*  5*Personal   -> aside2 */
        .aside2 {
              text-align: center;
              font-size: 1.13rem;
              padding-top: 0.2rem;
              padding-bottom: 0.2rem;
              color:black;

        }

      
      /*  6*Banner     -> aside3  */

            .aside3 {
              background-color: var(--primaryColor);
              opacity: 0.8;
              text-align: center;
              z-index: 1;
            }

            .aside3 #spaTxt1 {
              padding-top: .31rem;
              font-size: 1.125rem;
              color: #000;
              font-weight: 600;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaTxt2{
              padding-top: 0.31rem;
              font-size: 1.125rem;
              color: #fff;
              font-weight: 600;
              font-family: 'Roboto Condensed', sans-serif;
              z-index: 10;
            }

            .aside3 #spaBanner1{
             
              background-color: black;
              color: var(--primaryColor);
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.875rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }
            .aside3 #spaBanner2 {
             
              background-color: #8b8b8b;
              color: #fff;
              opacity: 0.8;
              padding:0.31rem;
              font-size: 0.875rem;
              font-weight: 400;
              font-family: 'Courier New', monospace;
              z-index: 10;
            }




      /*  7*Social     -> aside4*/
            
            #social{
              background-color:#cccccc;
              border-top: 3px solid #666666;
              border-style: double;
              border-bottom: 0px;
              border-right:0px; 
              border-left:0px;
            }

            .social-img {
                
                padding-left: 15%;
                padding-bottom:1.5rem;
                padding-top: 1.5rem; 
            } 
        
        /*  8*Studies    -> content2  */

        

      /* 11*Leisure   -> aside5*/
            #leisure{
                background-color:#eeeeee;

            }
             #hobbies {   
                font-size:0.82rem;
                padding-left:1.8vw;
              
            }

            .container {
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                
                -webkit-flex-direction: row;
                -moz-flex-direction:row; 
                flex-direction: row; 
                            
            }
            .container span li{
                list-style-type:none;
                padding-right: 3vw;
                
            }
            #hobbies li{
                padding-bottom: 0.4rem;
            }

            #hobbies ul li img{
                height: 2.4rem;

            }
            #hobbiesImg{
                border-radius:50%;
                border-style: solid;
                border-color:#F8662B;
                border-width: 0.4rem;
                padding: 0;
            }
            
            
            /*    Menu

                 
             
            */
              
                
                #sidebar>#sidebarMenu span, span nav, span nav ul{
                    background-color: #404040;  
    
                }

                  #sidebarMenu {
                    height: 35px;
                    position: fixed; 
                    left: 0;
                    width: 73vw;
                    margin-top: -10px;
                    margin-left: 15vw;
                    transform: translateX(-2200px);
                    transition: transform 250ms ease-in-out;
                    z-index: 20;
                  } 
                  #sidebarMenu ul{
                    text-align:center;
                  }

                  .sidebarMenuInner {
                    width: 75vw;
                    border-top:2px solid #F8662B;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius:1rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom:3px solid #ED320A;
                    background-color: #404040;
                    
                  }
        
                  .sidebarMenuInner li {
                  display: inline-block; 
                  list-style: none;
                  text-decoration: none;
                  
                  /*background-color: #404040; color: #F8662B; width: 610px; */  
                  cursor: pointer;
                  padding: 0.5rem;/* 15px */
                  ;
                /* border-radius: 0.5px; 15px  background-color:#404040; */
                }
              
                  
                  .sidebarMenuInner span{
                    display: inline;
                    padding-top:0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left:1rem;
                    border-radius: 1rem;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: #F8662B; 
                    font-weight: 600;
                    background-color: #404040;
                    align-items: center;
                  }
                  
                 
                  input[type="checkbox"]:checked ~ #sidebarMenu { transform: translateX(0); } 

                  input[type=checkbox] {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    display: none;
                   
                  }

                  /*  sidebarIconToggle es el icon móvil y es un elemento label que depende del input checkbox.
                      
                      */


                  .sidebarIconToggle {
                    transition: all 0.333s;  /*. display: inline-block; */
                    box-sizing: border-box;
                    cursor:pointer;
                    position: absolute; /* absolute   */
                    z-index: 99;
                    height: 100%;
                    width: 100%;
                    top: 55px;
                    left: 67px;
                    height: 30px;
                    width: 30px;
                    /*top: 40px;
                    left: 40px;
                    height: 25px;
                    width: 25px;*/
                    z-index: 20;
                  }

                  /* spinner es la clase genérica y común a los tres elementos div dependientes del input checkbox      */

                  .spinner {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: absolute; /* absolute */
                    height: 4px;
                    width: 100%;
                    background-color:#F8662B ;
                  }


                  .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }
                  .horizontal:hover {
                      transition: all;
                      box-sizing: border-box;
                      position: relative;
                      float: left;
                      margin-top: 4px;
                      width: 60%;
                      background-color:#fff;
                  }

                  .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                  }

                  .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin-top: 4px;
                  }



                  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    opacity: 0;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(135deg);
                    margin-top: 8px;
                  }

                  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
                    transition: all 0.333s;
                    box-sizing: border-box;
                    transform: rotate(-135deg);
                    margin-top: -9px;
                  }





}      



